* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif; 
}

ul li {
    list-style-type: none; 
    display: inline-block;
}


a {
    text-decoration: none; 
    
}


header {
    width: 100%; 
    height: 4.5rem; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    position: static;
    top: 0; 
    z-index: 50; 
}


header nav {
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    padding: 0 1rem; 
}


header .desktop-nav-links,
header nav > a {
    display: none;

}


.logo {
    font-weight: 600;
    font-size: 20px;

}


 ul.mobile-dropdown {
    position: absolute; 
    right: 0; 
    top: 100%;
    background-color: #f6f6f6; 
    border-left: 1px solid rgba(0, 0, 0, 0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3); 
    width: 60%; 
    max-width: 12rem; 
    height: calc(100vh - 4.5rem); 
    padding: 2rem 1rem; 
    flex-direction: column; 
    gap: 1.5rem; 
    display: none; 
}

.mobile button {
    font-size: 1.1rem; 
    outline: 0;
    padding: 0.5rem;
    cursor: pointer;
}

.hero {
    width: 100%;
    min-height: calc(100vh - 4.5rem); 
    background-image: url(../images/img.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    position: relative; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center; 
    gap: 1.5rem; 
    padding: 0 3rem;
    padding-top: 15rem;
}

/* Dark overlay on hero background */
.overlay{
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(1, 10, 70, 0.5); 
}

.hero p{
max-width: 1500px;
width: 65%;
font-weight: 600;
color:#f6f6f6;
line-height: 1.7;
}

.hero h1{
    color:#f6f6f6;
    font-size: 2rem;
}

.sub-hero{
    background-color:#2a2c2b;
    min-height: 50vh;
}

.sub-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 4rem 8rem;
    gap: 4rem;
 
}

.sub-hero a{
    background-color:#2a2c2b;
    border: 1px solid aqua;
    color: white;
    font-weight:800;
    padding:2rem 3rem;
    transition: all 0.3s ease-in-out; 
    border-radius: 0.5rem;
}

.sub-hero a:hover{
    color:peru;
}

.sub-hero h2{
    color: white;
    
}
.capability{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: black;
    color: white;
    padding: 4rem 1rem;
}

.transformation-capabilities{
    background-color: black;
    color: white;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.transformation-capabilities article {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
    margin: 2rem 1rem;  


}

.container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(4, auto);
    margin: 1rem 1rem;
    background-color: aqua;
}

.hero-image-1 {
  background-image: url("../images/future.jpg"); 
  background-size: cover;          
  background-position: center;                     
  position: relative;
  height: 500px;  
}

.hero-image-1:hover{
    transform: translatey(20px);
    transition: all 0.9s ease-in-out;
}

.hero-text-1 div{
    padding: 2rem;
}

.hero-text-1 div:nth-child(1) {
    color: wheat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hero-text-1 div:nth-child(2) {
    color: wheat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: larger;    
}

.hero-image-2 {
  background-image: url("../images/developers.jpg"); 
  background-size: cover;          
  background-repeat: no-repeat;   
  background-position: center;        
  position: relative; 
  height: 500px;
}

.hero-image-2:hover{
    transform: translatey(20px);
    transition: all 0.9s ease-in-out;
}

.hero-text-2 div{
   padding: 2rem;
    
}

.hero-text-2 div:nth-child(1) {
    color: wheat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hero-text-2 div:nth-child(2) {
    color: wheat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: large;    
}
.hero-image-3 {
  background-image: url("../images/AI.jpg"); 
  background-size: cover;          
  background-position: center;                    
  position: relative;
  height: 500px;
}

.hero-image-3:hover{
    transform: translatey(20px);
    transition: all 0.9s ease-in-out;
}


.hero-text-3 div{
    padding: 2rem;
}

.hero-text-3 div:nth-child(1) {
    color: wheat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hero-text-3 div:nth-child(2) {
    color:wheat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: larger;    
}
.hero-image-4 {
  background-image: url("../images/lab-scientist.jpg"); 
  background-size: cover;          
  background-position: center;                   
  position: relative;
  height: 500px;
}

.hero-image-4:hover{
    transform: translatey(20px);
    transition: all 0.9s ease-in-out;
}

.hero-text-4 div{
    padding: 2rem;
}

.hero-text-4 div:nth-child(1) {
    color: wheat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hero-text-4 div:nth-child(2) {
    color:wheat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: larger;    
}

.hero-image-5 {
  background-image: url("../images/book.jpg"); 
  background-size: cover;          
  background-position: center;        
  position: relative;
  height: 500px;
}

.hero-image-5:hover{
    transform: translatey(20px);
    transition: all 0.9s ease-in-out;
}

.hero-text-5 div{
    padding: 2rem;
}

.hero-text-5 div:nth-child(1) {
    color: wheat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hero-text-5 div:nth-child(2) {
    color:wheat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: larger;    
}
.hero-image-6 {
  background-image: url("../images/Words-From-God.jpg"); 
  background-size: cover;          
  background-position: center;                
  position: relative;
  height: 500px;
  object-fit: contain;
}

.hero-image-6:hover{
    transform: translatey(20px);
    transition: all 0.9s ease-in;
}

.hero-text-6 div{
    padding: 2rem;
}

.hero-text-6 div:nth-child(1) {
    color: wheat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hero-text-6 div:nth-child(2) {
    color: wheat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: larger;    
}


.overlay{
    background-color: rgba(15, 70, 1, 0.5);
}

.insight {
    height: 20vh;
     display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.insight a {
    color: black;
    border: 1px solid black;
    padding: 1rem;
    font-weight: 600;
}

.sub-hero-1{
    background-color:black;
    min-height: 50vh;
}

.sub-content-2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 4rem 8rem;
    gap: 4rem;
}

.content-2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    margin-top: 2rem;
    font-weight: 600;
    line-height:2;
    font-size: medium;
}

.sub-content-2 a{
    display: inline-block;

}
.sub-hero-1 a{
    background-color:black;
    border: 1px solid aqua;
    color: white;
    font-weight:800;
    padding:2rem 3rem;
    transition: all 0.3s ease-in-out; 
    border-radius: 0.5rem;
}

.sub-hero-1 a:hover{
    color:peru;
}

.sub-hero-1 h2{
    margin-top: 5rem;
    color: white;
    
}

.sub-hero-2{
    background-color:#2a2c2b;
    min-height: 50vh;
}

.sub-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 4rem 8rem;
    gap: 4rem;
 
}

.sub-hero-2 a{
    background-color:#2a2c2b;
    border: 1px solid aqua;
    color: white;
    font-weight:800;
    padding:2rem 3rem;
    transition: all 0.3s ease-in-out; 
    border-radius: 0.5rem;
}

.sub-hero-2 a:hover{
    color:peru;
}

.sub-hero-2 h2{
    margin-top: 5rem;
    color: white;
    
}

@media (min-width: 768px){
    .mobile {
    display: none; 
    }
  
    header .desktop-nav-links {
    display: flex; 
    gap: 2rem; 
    }

   
    header .desktop-nav-links a
        {
        color: black; 
        font-weight: 600; 
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in;
        }


    .desktop-nav-links a:hover
    {
    background-color:#f6f6f6;
    padding: 1rem;
    }
 
    .transformation-capabilities{
    display: flex;
    flex-direction: row;
    }

  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    }

    .sub-content-2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 4rem 8rem;
    gap: 4rem;
}

}



@media (min-width: 1000px) {



     }